@{
    ViewData["Title"] = "DetailsProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Core.Model.Product


<div class="row">
    <div class="col-lg-5 ">
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              
                    <div class="carousel-item active">
                        <img class="d-block w-100 mt-3 " alt="image-slider-1" src="/UserPicture/@Model.image" />
                    </div>
              
                @if (Model.image2 != null)
                {
                    <div class="carousel-item">
                        <img class="d-block w-100 mt-3" alt="image-slider-1" src="/UserPicture/@Model.image2" />
                    </div>
                }

                @if (Model.image3 != null)
                {
                    <div class="carousel-item">
                        <img class="d-block w-100 mt-3" alt="image-slider-1" src="/UserPicture/@Model.image3" />
                    </div>
                }

            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#productCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#productCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-6 mt-3">
        <h2 class="fw-bold">@Model.ProductName</h2>
        <p class="text-muted">@Model.NavbarProductUnderCategoriesName</p>
        <h3 class="my-4">@Model.Prices TL</h3>
        <p class="mb-4">
            @Model.Explanation
        </p>
        <div class="d-flex gap-3 mb-4 col-lg-6">

            <a class="btn btn-danger" type="submit" asp-controller="Basket" asp-action="Index" asp-route-id="@Model.Id">Sepete Ekle</a>

        </div>
    </div>


</div>
