
@{
    ViewData["Title"] = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Core.EncapsulationDtos.ProductAndUnderNavbarEncapsulationModel


<h1>Save</h1>

<form asp-controller="ProductSettings" asp-action="Save" method="post" enctype="multipart/form-data">

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.ProductName"></label>
        <div class="col-md-8">
            <input required asp-for="@Model.ProductDto.ProductName" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.ProductName"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="Email" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.NavbarProductUnderCategoriesName"></label>
        <div class="col-md-8">
            <select class="form-select" asp-for="@Model.ProductDto.NavbarProductUnderCategoriesName" aria-label="Default select example">

                <option selected></option>

                @foreach (var item in Model.navbarUnderCategories)
                {
                    <option value="@item.CategoryName">@item.CategoryName</option>
                }



            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label for="BirthDay" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.Stock"></label>
        <div class="col-md-8">
            <input required asp-for="@Model.ProductDto.Stock" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.Stock"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label for="Phone" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.Explanation"></label>
        <div class="col-md-8">
            <input required asp-for="@Model.ProductDto.Explanation" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.Explanation"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="BirthDay" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.OldPrices"></label>
        <div class="col-md-8">
            <input required asp-for="@Model.ProductDto.OldPrices" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.OldPrices"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="BirthDay" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.Prices"></label>
        <div class="col-md-8">
            <input required asp-for="@Model.ProductDto.Prices" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.Prices"></span>
        </div>
    </div>




    <div class="row mb-3">
        <label for="Picture" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.image"></label>
        <div class="col-md-8">
            <input required type="file" asp-for="@Model.ProductDto.image" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.image"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Picture" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.image2"></label>
        <div class="col-md-8">
            <input required type="file" asp-for="@Model.ProductDto.image2" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.image2"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Picture" class="col-md-4 col-form-label" asp-for="@Model.ProductDto.image3"></label>
        <div class="col-md-8">
            <input required type="file" asp-for="@Model.ProductDto.image3" class="form-control">
            <span class="text-danger" asp-validation-for="@Model.ProductDto.image3"></span>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-md-8 offset-md-4">

            <button type="submit" class="btn btn-primary">Kaydet</button>

        </div>
    </div>

</form>

